<nav class="navbar navbar-expand-lg navbar-dark bg-dark mainHeader">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainHeaderNav"
        aria-controls="mainHeaderNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainHeaderNav">
        <a class="navbar-brand" routerLink="/">LOGO</a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link login" (click)="login()"  *ngIf="!currentUser">Log in</a>
            </li>
            <li class="nav-item" ngbDropdown display="dynamic" *ngIf="currentUser" placement="bottom-right">
                <a class="nav-link login" ngbDropdownToggle id="navbarDropdown3" role="button">
                    <span class="fa fa-user"></span>
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown3"  class="dropdown-menu">
                    <a class="dropdown-item drobdownitem" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
